{% extends "../base.html" %}
{% block title %} Code Sniffer AI - Home {% endblock %}
{% block content %}
{%load static%}

<main role= "main" class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-6 " style = "background-color:slategrey; padding: 0; max-height: 100vh">
            <form id="code-form" class="container px-3 h-100" method="post" style = "background-color: " onkeyup= "saveValue(this)">
                {% csrf_token %}
                <div class="h-100 d-flex flex-column form-group" style= "background-color: " >
                    <div class = "row">
                        <a  class = "position-absolute px-3 py-3" href="{% url "index" %}" style = "background-color: ; width: 80px">
                            <img src={% static "/home_FILL0_wght400_GRAD0_opsz24.svg"%} width="40"></img>
                        </a>
                        <div class="py-3 d-flex justify-content-center " >
                            <label class="title-font" for="code" style="background-color: ;">Java Class</label>
                        </div>
                    </div>
                    {% comment %} <div class = "px-3" style = "flex-grow:1; max-height: 80%"> {% endcomment %}
                    <textarea id="code-editor" class="form-control" name="code"  placeholder="Type your code" >{{ code }}</textarea>
                    {% comment %} </div>     {% endcomment %}
                    <div class=" row justify-content-center " style="background-color: ">
                        <button class="btn btn-light my-3" type="submit" id="teste" style = " width: 90%;font-size:20px" onclick= "setValue()"> Smell Code</button>
                    </div>
                </div> 
            </form>
        </div>
        <div class="col-sm-6 h-100" style = "padding: 0;background-color: #1759B0">
            <div class="container px-3 h-100 d-flex flex-column overflow-hidden" style= "background-color: " >
                
                <div class=" py-3"style="text-align: center ">
                    <label for="code" style = "color: white; font: 32px Roboto, sans-serif; ;font-style: normal;font-weight: 700">
                        CodeSnifferAI
                    </label>
                    {% comment %} <p id= "terminal" >terminal<p>     {% endcomment %}
                </div> 

                <div class ="overflow-auto"  style="flex:1">
                    <div class = "row px-3" style="background-color: ">
                        <div class="container mb-3 d-flex flex-column" style = "padding:0 ;background-color: white">
                            <div class ="p-3">
                                <p1 style="color: black; font: 18px Roboto, sans-serif; ;font-style: normal;font-weight: 700">
                                    Code Smells result
                                </p1>
                            </div>
                            {% if labels %}
                            <div class="border" style="flex:1 ">
                                <canvas id="myChart" style="width:100%;max-width:100%"></canvas>
                            </div>
                            {% endif%}
                        </div>

                        {% comment %} Bootstrap' accordion for each smell  {% endcomment %}
                        <div class=" py-3"style="text-align: center ">
                            <label for="code" style = "color: white; font: 32px Roboto, sans-serif; ;font-style: normal;font-weight: 700">Learn about them</label>    
                        </div> 
                        <div class="accordion" id="accordionCodeSmellClasses">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataClass" aria-expanded="false" aria-controls="collapseDataClass">
                                    Data class
                                </button>
                                </h2>
                                <div id="collapseDataClass" class="accordion-collapse collapse" data-bs-parent="#accordionCodeSmellClasses">
                                <div class="accordion-body">
                                    <p1>To avoid this code smell, ensure that relevant functionality for the data is implemented in methods in the class, and that the data is being stored in the class which is most appropriate for it.</p>
                                    <p1>For more information, visit <a href="https://code-smells.com/dispensables/data-class">https://code-smells.com/dispensables/data-class</a></p1>
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Futile Abstract Pipeline
                                </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionCodeSmellClasses">
                                <div class="accordion-body">
                                    Despite being an abstract class, it is probably defining its atributtes and methods.       
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseModelClass" aria-expanded="false" aria-controls="collapseThree">
                                    Model Class
                                </button>
                                </h2>
                                <div id="collapseModelClass" class="accordion-collapse collapse" data-bs-parent="#accordionCodeSmellClasses">
                                <div class="accordion-body">
                                    Class has no problems.
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSchizofrenicClass" aria-expanded="false" aria-controls="collapseThree">
                                    Schizofrenic Class
                                </button>
                                </h2>
                                <div id="collapseSchizofrenicClass" class="accordion-collapse collapse" data-bs-parent="#accordionCodeSmellClasses">
                                <div class="accordion-body">
                                    Self or this may be refering to more than one object.
                                </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
        value: "public class Example {\n}\n",
        mode: "text/x-java", 
        lineNumbers: true,   
    });
    editor.setSize("100%", "100%");

</script>

<script>

        setEditorValue()
        
        function setEditorValue(){
            form = document.getElementById("code-form")
            editor.getDoc().setValue(getSavedValue(form.id));
        }

        function saveValue(e){
            var id = e.id; 
            var val = editor.getValue(); 
            localStorage.setItem(id, val);
        }

        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "public class main(){\n\tSystem.outprintln(\"hello, world !\"\)\n}"; 
            }
            return localStorage.getItem(v);
        }
</script>

<script>
    const labels = {{labels | safe}}

    const values = {{data | safe}}
    
    const opBg = 1
    const bgColor = [
        'rgba(255, 99, 132, '+opBg+')',
        'rgba(255, 159, 64, '+opBg+')',
        'rgba(255, 205, 86, '+opBg+')',
        'rgba(75, 192, 192, '+opBg+')',
        'rgba(54, 162, 235, '+opBg+')',
        'rgba(153, 102, 255, '+opBg+')',
        'rgba(201, 203, 207, '+opBg+')'];
    
    const opBd = 0.2
    const bdColor = bgColor

    const dataset1 = {
        axis: 'y',
        label:'Probability of smell',
        backgroundColor: bgColor,
        data: values,
        borderColor: bdColor
    }
        
    const data = {
        labels: labels,
        datasets: [dataset1]
    }
    
    const config = {
        type: "bar",
        data: data,
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth:2,
                }
            },
            responsive: true,
            plugins: {
                legend:{
                    position:'bottom',
                }
            },
        }
    }
    new Chart("myChart",config); 
</script>



{% endblock %}