{% extends "../base.html" %}
{% block title %} Code Sniffer AI - Home {% endblock %}
{% block content %}
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit"/>
        </form>
    </div>
    {% if code_analysis_result %}
        <ul>
            {% for key, values in code_analysis_result.items %}
                <li>{{ key }}: {{ values|floatformat:2 }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No data are available.</p>
    {% endif %}

{% endblock %}