{%extends "../base.html"%}
{% block title %} Code Sniffer AI - Home {% endblock %}
{% block content %}
{% load static %}


<div class="d-flex container-fluid flex-column flex-md-row " style = "min-height: 100vh;  " >
    <div class="col-md-6 col-12 set-bg-img bg-black" style = "background-image: url({% static 'images/bg.png'%}); ">
        <div class= "d-flex  p-5 flex-column h-100">
            <div class = "row-sm d-flex flex-row w-100"style = "background-color: transparent">
                <div class = "font-logo d-flex justify-content-start align-items-center">
                    <div>
                        <div class = "rounded-circle set-bg-img" style = "background-image: url({% static 'images/logo.png'%}); width: 100px;height: 100px; background-color:white;" ></div>
                    </div>
                    <div class = "ms-4">
                        Code Sniffer AI
                    </div>
                </div>
            </div>

            <div class = "d-flex align-content-around flex-wrap h-100" style = "background-color: transparent">
                <div class = "row-sm  ">
                    <div class=" font-topic red" >
                        A Java smell analyzer
                    </div>
                    <div class=" font-paragraph">
                        CodeSnifferAI finds and flags potential issues in your code, helping you improve its quality and maintainability. Other examples include SonarQube, PMD, and FindBugs.
                    </div>
                </div>
                <div class = "row-sm ">
                    <div class=" font-topic red">
                        Free Open Software
                    </div>
                    <div class="  font-paragraph ">
                        CodeSnifferAI is both freely available for use and its source code is openly accessible, allowing users to view, modify, and distribute it. Our project adheres to the MIT License, ensuring that users have the freedom to use, modify, and distribute the code while maintaining a permissive and business-friendly licensing approach.
                    </div>
                </div>
                <div class = "row-sm ">
                    <div class="font-topic red">
                        Powered by AI
                    </div>
                    <div class="font-paragraph">
                        CodeSnifferAI utilizes CodeT5 for code smell analysis. CodeT5 is a powerful and open-source tool that helps identify and improve code quality in Java applications. The project is released under the MIT License, allowing users to leverage its capabilities freely while ensuring flexibility and openness in code modification and distribution.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 bg-blue">
        <div class= "d-flex  p-5 flex-column h-100">
            <div class="row-sm d-flex flex-row w-100  justify-content-end">
                <div href="https://github.com/codesnifferai/codesnifferai">
                    <img src="{% static 'images/git-logo.png' %}" alt="CodeSnifferAI's repository on GitHub.">
                </div>
            </div>

            <div class="h-100 d-flex align-items-center justify-content-center ">
                <div class = " col-sm-6 white no-underline" style = "background-color:">
                    <div class="font-topic d-flex align-items-center justify-content-center pt-4" >
                        <a class = "black no-underline w-100 "  href="{% url 'code' %}">
                            <div class = "bg-yellow rounded d-flex align-items-center justify-content-center text-center p-3">
                                Try it
                            </div>
                        </a>
                    </div>
                    <div class="font-topic white d-flex align-items-center justify-content-center pt-4" >
                        <a class = "white no-underline w-100 " href="{% url 'CodeSnifferAi' %}">
                            <div class = "border rounded d-flex align-items-center justify-content-center text-center p-3" >
                                REST API
                            </div>
                        </a>
                    </div>
                    <div class="font-topic white d-flex align-items-center justify-content-center text-center pt-2" >
                        <a class = "white no-underline" href="https://github.com/codesnifferai/codesnifferai#readme">
                            <div class = "rounded">
                                Learn more
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
