{% extends "../base.html" %}
{% load humanize %}
{% block title %} Code Sniffer AI - Home {% endblock %}
{% block content %}

{% comment %} Titulo + subtitulo {% endcomment %}
<section class="section-header overflow-hidden bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="fw-bolder">Code Sniffer AI</h1>
                <h2 class="lead fw-normal text-muted mb-5">
                    Open-source Project
                </h2>
            </div>
        </div>
    </div>
</section>


{% comment %} Gráfico de barras vertical {% endcomment %}
<canvas id="dashboard" width="100" height="30vh">   
</canvas>
    <script>
    var df = {{ df|safe }};
    var df_labels = {{ df_labels|safe }};
    var ctx = document.getElementById('dashboard').getContext('2d');
    var vChart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: df_labels,
           datasets: [{
               label: "Code Smells Types",
               data: df
           }]
       }
    });
    </script>

{% endblock %}