.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* Navbar */

.navbar  {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}


.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

.title-font {
    color: white;
    font: 32px Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.white-font{
    color: white;
    font: 15px Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.CodeMirror {
    height: auto;
    color: #333;
}

.panel {
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    color: black;
}
